
	<section class="incidents">

		<div class="container-fluid">
			
			<div class="row">
				
				<div class="col-sm-2">
					<p><label>Filtro por AGV</label></p>
					<select ng-change="loadData()" ng-model="filterAGVId">
						<option value="0">Todos</option>
						<option value="1">AGV 1</option>
						<option value="2">AGV 2</option>
					</select>
				</div><!-- /.col -->
				<div class="col-md-1">
				</div><!-- /.col -->
				<div class="col-md-9">

					<table class="table table-condensed">
					    <thead>
						    <tr>
								<th>Fecha / Hora</th>
								<th>Errores y avisos</th>
								<th class="text-center">AGV</th>
							</tr>
					    </thead>
					    <tbody>
						    <tr ng-repeat="item in data | orderBy: 'Time':true" ng-class="{error: item.Severity==1, warning: item.Severity==2}">
								<td>{{ item.Time }} </td>
								<td>{{ item.Message }}</td>
								<td class="text-center">{{ item.IdAGV }}</td>
							</tr>
					    </tbody>
					</table>
					
				</div><!-- /.col -->

			</div><!-- /.row -->

		</div><!-- /.container -->
		
		

	</section>
