
	<section class="incidents">
		
		<div class="table-wrap">
				
			<table class="table table-striped">
				<tr>
					<th>Fecha / Hora</th>
					<th>Errores y avisos</th>
					<th class="text-center">AGV</th>
				</tr>

				<tr class="error">
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">2</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>ERROR VARIADOR</td>
					<td class="text-center">2</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>ERROR VARIADOR</td>
					<td class="text-center">2</td>
				</tr>

				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">2</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>ERROR VARIADOR</td>
					<td class="text-center">2</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>ERROR VARIADOR</td>
					<td class="text-center">2</td>
				</tr>

				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">2</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>ERROR VARIADOR</td>
					<td class="text-center">2</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>ERROR VARIADOR</td>
					<td class="text-center">2</td>
				</tr>

				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">2</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>ERROR VARIADOR</td>
					<td class="text-center">2</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>DETECCIÓ ESCANER DAVANTER</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td>25-06-2016 / 13:28:52</td>
					<td>ERROR VARIADOR</td>
					<td class="text-center">2</td>
				</tr>




			</table>

		</div>

	</section>
