
	<section class="production-control">
		
		<div class="container-fluid">

			<div class="row">
			
				<div class="col-sm-3">
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4" selected="selected">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5" selected="selected">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5" selected="selected">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

				</div><!-- /.col -->


			
				<div class="col-sm-3">
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5" selected="selected">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4" selected="selected">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4" selected="selected">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4" selected="selected">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4" selected="selected">eng 4</option>
						</select>
					</div><!-- /.item -->

				</div><!-- /.col -->


			
				<div class="col-sm-3">
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4" selected="selected">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5" selected="selected">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

				</div><!-- /.col -->


			
				<div class="col-sm-3">
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4" selected="selected">eng 4</option>
						</select>
					</div><!-- /.item -->
				
					<div class="item empty">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5" selected="selected">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select>
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

					<div class="item">
						<time>00:03</time>
						<select class="selectpicker">
							<option value="">- sin uso -</option>
							<option value="eng 5">eng 5</option>
							<option value="eng 4">eng 4</option>
						</select>
					</div><!-- /.item -->

				</div><!-- /.col -->



			</div><!-- /.row -->

		</div><!-- /.container -->

	</section>
