
	<section class="production-control">
		
		<div class="container-fluid">

			<div class="row">
			
				<div class="col-sm-3" ng-repeat="order in ordersData" ng-if="$index % 10 == 0">
				
					<div class="item" ng-class="{empty: order.IdDestination==''}" ng-repeat="order in ordersData.slice($index, ($index+10 > ordersData.length ?  ordersData.length : $index+10))">
						<time>{{ order.Time }}</time>
						<select ng-options="item.Id as item.Id for item in destinationsData" ng-model="order.IdDestination" ng-change="setOrder(order)">	
							<option value="">- sin uso -</option>
						</select>
					</div><!-- /.item -->
				
				</div><!-- /.col -->



			</div><!-- /.row -->

		</div><!-- /.container -->

	</section>
