
	<section class="synoptic">

		<div id="incidents" ng-if="incidentsData.length" ng-class="{error: incidentsData[selectedIncidentIndex].Severity==1, warning: incidentsData[selectedIncidentIndex].Severity==2}">[ {{ selectedIncidentIndex + 1 }}/{{ incidentsData.length }} ] - {{ incidentsData[selectedIncidentIndex].Message }}</div>
		<div id="statisitcs">
			<div class="legend">
				Tiempo
				<span class="item"><span class="square color-1"></span>trabajo</span>
				<span class="item"><span class="square color-2"></span>paro producción</span>
				<span class="item"><span class="square color-3"></span>paro escaner</span>
				<span class="item"><span class="square color-4"></span>averia</span>
				<span class="item"><span class="square color-5"></span>fuera de uso</span>
			</div>
			<div class="graph-wrap" ng-repeat="(IdAGV, statistics) in statisticsData">
				<div class="title">AGV {{ IdAGV }}</div>
				<div class="graph">
					<div class="value color-1" style="width:{{ statistics.Working }}%">{{ statistics.Working }}<span ng-if="statistics.Working > 2">%</span></div>
					<div class="value color-2" style="width:{{ statistics.Stoped }}%">{{ statistics.Stoped }}<span ng-if="statistics.Stoped > 2">%</span></div>
					<div class="value color-3" style="width:{{ statistics.Scanner }}%">{{ statistics.Scanner }}<span ng-if="statistics.Scanner > 2">%</span></div>
					<div class="value color-4" style="width:{{ statistics.Fault }}%">{{ statistics.Fault }}<span ng-if="statistics.Fault > 2">%</span></div>
					<div class="value color-5" style="width:{{ statistics.Offline }}%">{{ statistics.Offline }}<span ng-if="statistics.Offline > 2">%</span></div>
				</div>
			</div>
		</div>
		
		<div id="mapa">
			<div class="agvs">
				<div 
					ng-repeat="agv in AGVData"  
					id="agv-{{ agv.Id }}"
					class="agv {{ tagsData[AGVPositionsData[agv.Id].IdTag].IsVertical == 1 ? 'vertical' : '' }} status-{{ AGVPositionsData[agv.Id].Status }}" 
					style="transform: translate({{ tagsData[AGVPositionsData[agv.Id].IdTag].X }}%, {{ tagsData[AGVPositionsData[agv.Id].IdTag].Y }}%);
					z-index:{{ AGVzIndex == 'asc' ? agv.Id : 100-agv.Id }}"
					ng-if="tagsData[AGVPositionsData[agv.Id].IdTag].Id">
					<span>{{ agv.Id }}</span>
				</div>
			</div>
			<img src="mapa/mapa.png" alt="" />
		</div> 

	</section>