
	<section class="synoptic">

		<div id="incidencia">[ 1/2 ] - DETECCIÓ ESCANER DAVANTER</div>
		<div id="statisitcs">
			<div class="legend">
				Tiempo
				<span class="item"><span class="square color-1"></span>trabajo</span>
				<span class="item"><span class="square color-2"></span>paro producción</span>
				<span class="item"><span class="square color-3"></span>paro escaner</span>
				<span class="item"><span class="square color-4"></span>averia</span>
				<span class="item"><span class="square color-5"></span>fuera de uso</span>
			</div>
			<div class="graph-wrap">
				<div class="title">AGV 1</div>
				<div class="graph">
					<div class="value color-1" style="width:50%">50%</div>
					<div class="value color-2" style="width:20%">20%</div>
					<div class="value color-3" style="width:10%">10%</div>
					<div class="value color-4" style="width:15%">15%</div>
					<div class="value color-5" style="width:5%">5%</div>
				</div>
			</div>
			<div class="graph-wrap">
				<div class="title">AGV 2</div>
				<div class="graph">
					<div class="value color-1" style="width:45%">45%</div>
					<div class="value color-2" style="width:20%">20%</div>
					<div class="value color-3" style="width:15%">15%</div>
					<div class="value color-4" style="width:10%">10%</div>
					<div class="value color-5" style="width:10%">10%</div>
				</div>
			</div>
		</div>
		
		<div id="mapa">
			<div class="agv" id="agv-1" style="transform: translate(17%, 75%);">
				<span>1</span>
			</div>
			<div class="agv vertical" id="agv-2" style="transform: translate(66.5%, 70%)">
				<span>2</span>
			</div>
			<img src="images/plan/plano_v3.png" alt="" />
		</div>

	</section>