
	<section class="synoptic">

		<div id="incidents" ng-if="incidentsData.length">[ {{ selectedIncidentIndex + 1 }}/{{ incidentsData.length }} ] - {{ incidentsData[selectedIncidentIndex].Message }}</div>
		<div id="statisitcs">
			<div class="legend">
				Tiempo
				<span class="item"><span class="square color-1"></span>trabajo</span>
				<span class="item"><span class="square color-2"></span>paro producción</span>
				<span class="item"><span class="square color-3"></span>paro escaner</span>
				<span class="item"><span class="square color-4"></span>averia</span>
				<span class="item"><span class="square color-5"></span>fuera de uso</span>
			</div>
			<div class="graph-wrap" ng-repeat="(IdAGV, statistics) in statisticsData">
				<div class="title">AGV {{ IdAGV }}</div>
				<div class="graph">
					<div class="value color-1" style="width:{{ statistics.Trabajo }}%">{{ statistics.Trabajo }}%</div>
					<div class="value color-2" style="width:{{ statistics.ParoProduccion }}%">{{ statistics.ParoProduccion }}%</div>
					<div class="value color-3" style="width:{{ statistics.ParoEscaner }}%">{{ statistics.ParoEscaner }}%</div>
					<div class="value color-4" style="width:{{ statistics.Averia }}%">{{ statistics.Averia }}%</div>
					<div class="value color-5" style="width:{{ statistics.FueraDeUso }}%">{{ statistics.FueraDeUso }}%</div>
				</div>
			</div>
		</div>
		
		<div id="mapa">
			<div 
				ng-repeat="agv in AGVData"  
				id="agv-{{ agv.Id }}"
				class="agv {{ tagsData[AGVPositionsData[agv.Id].IdTag].isVertical ? 'vertical' : '' }} {{ AGVPositionsData[agv.Id].Status=='2' ? 'error' : '' }}" 
				style="transform: translate({{ tagsData[AGVPositionsData[agv.Id].IdTag].x }}%, {{ tagsData[AGVPositionsData[agv.Id].IdTag].y }}%);">
				<span>{{ agv.Id }}</span>
			</div>
			<img src="mapa/mapa.png" alt="" />
		</div>

	</section>